/* White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%) */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 100%, 83%);
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.white-box {
    position: absolute;
    height: 600px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 10px 10px 75px -35px rgba(0,0,0,0.75);
    background-color: hsl(0, 0%, 100%);
}

.white-box img {
    position: relative;
    top: 4%;
    left: 6%;
    height: 350px;
    width: 350px;
    border-radius: 20px;
}

.white-box h1 {
    color: hsl(218, 44%, 14%);
    text-align: center;
    margin-top: 35px;
}

.white-box p {
    color: hsl(0, 0%, 44%);
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 17px;
}